@media (max-width: 992px) {
  #basic-navbar-nav .navbar-nav {
    display: none;
  }
}
.navbar-expand-lg {
  position: fixed !important;
  width: 100%;
  z-index: 123123;
}
.nav-link {
  color: white !important;
}
.navbar-toggler {
  border: 1px solid white !important;
}
.navbar-brand img {
  width: 200px;
  transition: 0.5s;
}
.offcanvas-body .navbar-nav .nav-link {
  color: gray !important;
  font-size: 1.75rem;
  margin-bottom: 10px;
}
.offcanvas.offcanvas-end {
  width: 200px !important;
}
